@model IEnumerable<IdentityRole>
@{
    ViewData["Title"] = "Sessões";
}

<h1>Sessões</h1>
<a asp-action="Create" class="btn btn-success">Criar Sessão</a>

<table class="table">
    <thead>
        <tr>
            <th class="col-6">Nome</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td class="col-6">@role.Name</td>
                <td><a class="btn btn-sm btn-primary" asp-action="Update" asp-route-id="@role.Id">Atualizar Membros</a></td>
                <td>
                    <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                        <button type="submit" class="btn btn-sm btn-danger">
                            Excluir
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>