@model ClinicaVet.GestaoVeterinaria.Models.Atendimento

@{
    ViewData["Title"] = "Iniciar Atendimento";
}

<style>
    select {
        width: 200px;
    }
</style>

<h1>Iniciar Atendimento</h1>

<h4>Atendimento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="IniciarAtendimento">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="IdMedicoVeterinario" class="control-label"></label>
                <select asp-for="IdMedicoVeterinario" class="form-control" asp-items="ViewBag.medicosParaAtendimento">
                    <option selected value=""></option>
                </select>
                <span asp-validation-for="IdMedicoVeterinario" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IdAnimal" class="control-label"></label>
                <select asp-for="IdAnimal" class="form-control" asp-items="ViewBag.animaisParaAtendimento">
                    <option selected value=""></option>
                </select>
                <span asp-validation-for="IdAnimal" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ObservacoesIniciais" class="control-label"></label>
                <textarea asp-for="ObservacoesIniciais" class="form-control"></textarea>
                <span asp-validation-for="ObservacoesIniciais" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Iniciar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retornar</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
